body {
	text-align: center;
	margin: auto;
}

h1 {
	color: #5B4C3A;
	margin-top: 100px;
}

ol {
	text-align: left;
	width: 20px;
	margin: auto;
}

a {
	margin: 10px;
}

#message {
	background-color: #ff4444;
	color: #880000;
	max-width: 800px;
	margin: auto;
	padding: 2px;
}
