<div style="background-color: #CCAA81; display: grid; grid-template-columns: 1fr 1fr;">
	<div style="justify-self: start; padding: 20px;">
		<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'leaderboard' %}">Leaderboard</a>
	</div>
	<div style="justify-self: end; padding: 20px;">
		{% if username %}
		<a href="{% url 'vote' %}">Vote</a>
		<a href="{% url 'profile' username %}">{{ username }}</a>
		<a href="{% url 'logout' %}">Log out</a>
		{% else %}
		<a href="{% url 'register' %}">Register</a>
		<a href="{% url 'login' %}">Log in</a>
		{% endif %}
	</div>
</div>
