<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Log in</title>
		<style>
			body {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'leaderboard' %}">Leaderboard</a>
		<a href="{% url 'register' %}">Register</a>
		<a href="{% url 'login' %}">Log in</a>

		<h1>Log in</h1>
		<p>Signing into your PopularInt account is fun, easy, and free!</p>
		<input type="text" placeholder="Username">
		<br>
		<input type="password" placeholder="Password">
		<br>
		<input type="submit" value="Sign in">
	</body>
</html>

