<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Register</title>
	</head>
	<body>
		<a href="./">Home</a>
		<a href="./leaderboard">Leaderboard</a>
		<a href="./register">Register</a>
		<a href="./login">Log in</a>

		<h1>Register</h1>
		<p>Creating a PopularInt account is fun, easy, and free!</p>
		<input type="text" placeholder="Username (random only)" readonly>
		<input type="button" value="New">
		<br>
		<input type="password" placeholder="Password">
		<br>
		<input type="password" placeholder="Confirm password">
		<br>
		<input type="submit" value="Register">
	</body>
</html>
