<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vote</title>

		{% load static %}
		<link rel="stylesheet" href="{% static 'main/style.css' %}">
	</head>
	<body>
		{% include 'recur/header.html' %}

		<form action="{% url 'vote_submit' %}" method="post">
			{% csrf_token %}
			<h1>Vote</h1>
			<p>What integer do you like?</p>
			<input type="text" name="integer" placeholder="integer">
			<br>
			<input type="submit" value="Vote!">
		</form>

		{% if message %}
		<br>
		<p><span id="message">{{ message }}</span></p>
		{% endif %}
	</body>
</html>
